$mainFontFamily: 'Rubik', sans-serif;
$secondaryFontFamily: 'Poppins', sans-serif;
$primaryColor: #676cdb;
$primaryWhitecolor: #fff;
$primaryGrayFontColor: #9f9f9f;
$secondaryGrayColor: #a6a6a6;
$bcgColorDark: #212025;
$bcgPrimaryColor: #f7f7f7;